.mod__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-m);
    row-gap: var(--spacing-2xl);
}
@media (max-width: 767px) {
  .mod__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .mod__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-2xs);
  }
}

.mod__link {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}
@media (max-width: 480px) {
  .mod__link {
    gap: var(--spacing-2xs);
  }
}

.mod__content {
    overflow: hidden;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    background-color: var(--color-background-secondary);
    border-radius: var(--round-m);
}

.mod__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mod__image video {
    width: 100%;
    height: 100%;
    object-fit: cover!important;
}

.mod__name {
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-l);
    letter-spacing: var(--letter-spacing-m);
}

.mod__num-wrap {
  display: inline-flex;
  padding: var(--spacing-4xs) var(--spacing-2xs);
  background-color: var(--color-background-secondary);
  border-radius: var(--round-max);
  color: var(--color-text-secondary);
  line-height: var(--line-height-m);
  font-size: var(--font-size-4xs);
  margin-bottom: var(--spacing-2xs);
}