*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ol,
ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

details > summary:only-child {
  display: revert;
}

dialog {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}