:root {
  
  /* 1. FONT TOKENS */
  --font-family-base: "Mona Sans", sans-serif;
  --font-family-accent: "Bebas Neue", sans-serif;

  /* 2. FONT WEIGHTS */
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* 3. SPACING */
  --spacing-3xs: 0.25rem; /* 4px */
  --spacing-2xs: 0.375rem; /* 6px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-s: 0.75rem; /* 12px */
  --spacing-m: 1.25rem; /* 20px */
  --spacing-l: 1.5rem; /* 24px */
  --spacing-xl: 2rem;  /* 32px */
  --spacing-2xl: 3.75rem; /* 60px */
  --spacing-3xl: 5rem; /* 80px */
  --spacing-4xl: 7.5rem; /* 120px */
  --spacing-5xl: 10rem; /* 160px */
  --spacing-6xl: 15rem; /* 240px */

  /* 4. COLORS */

  /* Text */
  --color-text-primary: #000;
  --color-text-secondary: #888;
  /* Background */
  --color-background-primary: #fff;
  --color-background-secondary: #f7f7f7;

  /* 5. ROUNDS */
  --round-m: 1.875rem; /* 30px */
  --round-max: 50rem;

  /* 6. FONT-SIZE */
  --font-size-4xs: 0.875rem; /* 14px */
  --font-size-3xs: 1rem; /* 16px */
  --font-size-2xs: 1.125rem; /* 18px */
  --font-size-xs: 1.375rem; /* 22px */
  --font-size-s: 1.5rem; /* 24px */
  --font-size-m: 2rem; /* 32px */
  --font-size-l: 2.625rem; /* 42px */
  --font-size-xl: 4.375rem; /* 70px */
  --font-size-2xl: 8.75rem; /* 140px */

  /* 7. LINE-HEIGHT */
  --line-height-s: 0.8;
  --line-height-m: 1;
  --line-height-l: 1.3;
  --line-height-xl: 1.6;

  /* 8. LETTER-SPACING */
  --letter-spacing-s: -0.03em;
  --letter-spacing-m: -0.02em;
}

@media (max-width: 991px) {
  :root {
  --round-m: 1.25rem;

  --spacing-4xl: 6.5rem;
  --spacing-5xl: 7rem;
  --spacing-6xl: 12rem;
  
  --font-size-s: 1.3rem;
  --font-size-m: 1.75rem;
  --font-size-l: 2.4rem;
  --font-size-xl: 3.75rem;
  --font-size-2xl: 8.75rem;
  }
}

@media (max-width: 767px) {
  :root {
  --spacing-l: 1.1rem;
  --spacing-xl: 1.5rem;
  --spacing-4xl: 6rem;
  --spacing-5xl: 6rem;
  --spacing-6xl: 8rem;
  
  --font-size-s: 1.2rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
  --font-size-xl: 3.25rem;
  --font-size-2xl: 8.75rem;
  }
}

@media (max-width: 480px) {
  :root {
  --round-m: 0.75rem;

  --spacing-m: 1rem;
  --spacing-l: 0.8rem;
  --spacing-xl: 1.2rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 4rem;
  --spacing-5xl: 5rem;
  --spacing-6xl: 7rem;
  
  --font-size-4xs: 3vw;
  --font-size-3xs: 3vw;
  --font-size-s: 4vw;
  --font-size-m: 5.5vw;
  --font-size-l: 8vw;
  --font-size-xl: 11vw;
  --font-size-2xl: 8.75rem;
  }
}